<div class="col-md-12">
  <div class="group">
    <%= link_to("新建招聘", new_admin_job_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>岗位名称</td>
        <td>简历文件</td>
        <td>提交时间</td>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "resume_item" , collection: @resumes, as: :resume %>
    </tbody>
  </table>
</div>