  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
        <li class="nav-item active"><%= link_to("管理员主页", "" ) %> </li>
        <li class="nav-item"><%= link_to("所有简历", "" ) %></li>
    </ul>
  </div>
